* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.sprite {
  background-image: url(../res/spritesheet.png);
  opacity: .55;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

/* -- HEADER -- */
header {
  position: absolute;
  width: 100%;
}

.navbar {
  width: 100%;
  text-align: right;
  position: absolute;
  top: 12px;
  right: 15px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.navbar li {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 15px 0 0;
}

.navbar li:nth-child(3) {
  display: inline-block;
  background-size: 528px 68px;
  background-position: -132px -38px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.navbar li:nth-child(3):hover {
  opacity: .85;
}

.navbar li a {
  display: block;
  font-size: 13px;
  font-weight: lighter;
  line-height: 24px;
  opacity: .75;
}

button.login {
  width: auto;
  height: auto;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  background: #4285f4;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  border-radius: 3px;
  margin-left: 10px;
  padding: 0 12px;
  border: none;
}

.navbar li a:hover {
  text-decoration: underline;
  opacity: .85;
}

/* -- MAIN -- */
main {
  position: relative;
  top: 198px;
  max-width: 484px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  background: url("../res/logo.png") center no-repeat;
  background-size: 272px 92px;
  width: 272px;
  height: 92px;
  margin: 0 auto 28px;
}

.searchbox {
  display: block;
  max-width: 484px;
  height: 44px;
  border-radius: 2px;
  border: none;
  position: relative;
}

.searchbox input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
  font-size: 16px;
  padding: 4px 15px;

  -webkit-transition: box-shadow .2s ease;
     -moz-transition: box-shadow .2s ease;
          transition: box-shadow .2s ease;
}

.searchbox input:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08);
}

.searchbox input:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08);
}

.searchbox::after {
  content: '';
  display: inline-block;
  background: url("../res/mic.png") center no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%,-50%);
  cursor: pointer
}

main button {
  height: 36px;
  width: 150px;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  font-size: 13px;
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #757575;
  min-width: 54px;
  margin: 9px 2px;
  padding: 0 16px;
}

main button:focus {
  border: 1px solid #4d90fe;
  outline: none;
}

main button:hover {
  color: black;
  border: 1px solid rgba(68, 68, 68, .3);
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
}

.buttons {
  margin-top: 23px;
  display: block;
}

/* -- FOOTER -- */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 40px;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

footer ul {
  display: inline;
  font-size: 0;
  margin: 0;
  padding: 0;
}

footer ul.float-left {
  margin-left: 20px;
}

footer ul.float-right {
  margin-right: 20px;
}

footer ul li {
  float: left;
}

footer ul a {
  display: inline-block;
  font-size: .8rem;
  color: #666;
  float: left;
  padding: 12px 15px;
}

footer ul a:hover {
  text-decoration: underline;
}

/* -- MEDIA QUERIES --*/
@media (min-width: 1250px) {
  main, .searchbox{
    max-width: 548px;
  }
}
