* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

 /*-- HEADER -- */
header {
  position: absolute;
  width: 100%;

}

 /*-- MAIN -- */
main {
  position: relative;
  top: 198px;
  width: 484px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  background: url("../res/logo.png") center no-repeat;
  background-size: 272px 92px;
  width: 272px;
  height: 92px;
  margin: 0 auto 28px;
}

.searchbox {
  display: block;
  width: 100%;
  max-width: 484px;
  height: 44px;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
  transition: box-shadow .2s ease;
}

.searchbox:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08);
}
